 {{>imagen-header}}
<div class="container style="padding:4% 0"">
        <h3 class="text-center">Activación física, deporte, alimentación saludable y nutritiva</h3>
        <p class="text-justify">Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción</p>
        <br>
        <h3>Documentos</h3>
        <ul class="my-3">
        <li><a href="/uploads/files/activacionFisica/acción-ems-capacitacion.pdf" target="_blank">Acción ems capacitación Estrategia Nacional</a></li>
        <li><a href="/uploads/files/activacionFisica/ACCIONEMS_GUIAPAUSASACTIVAS.pdf" target="_blank">Acción ems guía para pausas activas</li>

       </ul>
</div>

