<div class="container mt-4">
        <h1 class="text-center">Activación física, deporte, alimentación saludable y nutritiva</h1>

        <ul class="my-3">
        <li><a href="https://educacionmediasuperior.sep.gob.mx/es_mx/sems/Activacion_fisica" target="_blank">Descriptivo de funciones</a></li>
        <li><a href="https://educacionmediasuperior.sep.gob.mx/es_mx/sems/Activacion_fisica" target="_blank">Guia operativa de la comisión</a></li>
        <li><a href="https://educacionmediasuperior.sep.gob.mx/es_mx/sems/Activacion_fisica" target="_blank">Plan de trabajo</a></li>

       </ul>
</div>

