 {{>imagen-header}}
<div class="container style="padding:4% 0"">
        <h3 class="text-center">Activación física, deporte, alimentación saludable y nutritiva</h3>
        <p>Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción Descripción</p>
        <br>
        <h3>Documentos</h3>
        <ul class="my-3">
        <li><a href="https://educacionmediasuperior.sep.gob.mx/es_mx/sems/Activacion_fisica" target="_blank">Descriptivo de funciones</a></li>
        <li><a href="https://educacionmediasuperior.sep.gob.mx/es_mx/sems/Activacion_fisica" target="_blank">Guia operativa de la comisión</a></li>
        <li><a href="https://educacionmediasuperior.sep.gob.mx/es_mx/sems/Activacion_fisica" target="_blank">Plan de trabajo</a></li>

       </ul>
</div>

