<div class="container mt-4">
        <h1 class="text-center">Salud fisica y mental</h1>
       <ul class="my-3">
        <li><a href="https://educacionmediasuperior.sep.gob.mx/es_mx/sems/Salud_fisica_y_mental" target="_blank">Descriptivo de funciones</a></li>
        <li><a href="https://educacionmediasuperior.sep.gob.mx/es_mx/sems/Salud_fisica_y_mental" target="_blank">Guia operativa de la comisión</a></li>
        <li><a href="https://educacionmediasuperior.sep.gob.mx/es_mx/sems/Salud_fisica_y_mental" target="_blank">Plan de trabajo</a></li>

       </ul>
</div>