<div >
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      
      </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <a href="https://estrategiaenelaula.sep.gob.mx/" target="_blank">
          <img src="uploads/img/banner-drogas.jpg" alt="">
        </a>
        <div class="carousel-caption"></div>
      </div>
    </div>
    </div>
  </div>