<!DOCTYPE html>
<html>
<head>
  <title>Recover Result</title>
</head>
<body>
  <h1>Information Recovered</h1>
  <p>Name: {{ user.fullname }}</p>
  <p>Password: {{ user.password }}</p>
</body>
</html>
