<div class="container add">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="card">
                <div class="card-body">
                    <h3>Cargar Usuarios</h3>
                    <form action="/" method="POST">
                        <div class="form-group" id="">
                             <input type="text" name="titulo" class="form-control" placeholder="Titulo">
                        </div>
                        <div class="form-group" id="">
                            <input type="file" name="archivo" class="form-control">
                        </div>
                         <button  class="btn btn-primary btn-block" data-toggle="modal" data-target="#confirmModal">
                            Subir
                        </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>