<div class="container add">
    <div class="row">
        <div class="col-md-4  col-md-offset-4">

            <div class="card">
                <div class="card-body">
                    <form action="/links/add" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <select class="form-control" name="tipo" id="seleccionar">
                                <option>Integrantes</option>
                                <option>Unidad de Atención</option>
                                <option>Red de Apoyo</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="comision">
                                <option selected="true" disabled="disabled">Elegir opción</option>
                                <option>Consejo de paz escolar COPAZE</option>
                                <option>Salud física y mental</option>
                                <option>Activación física, deporte, alimentación saludable y nutritiva</option>
                                <option>Arte y cultura</option>
                                <option>Gestión ambiental sostenible y ahorro de recursos</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" name="nombre" class="form-control" placeholder="Nombre">
                        </div>
                        <div class="form-group">
                            <input type="text" name="apellido1" class="form-control" placeholder="Primer apellido">
                        </div>
                        <div class="form-group">
                            <input type="text" name="apellido2" class="form-control" placeholder="Segundo apellido">
                        </div>
                        <div class="form-group" id="cargosIntegrantes">
                            <select class="form-control" name="cargo">

                                <option>Director o responsable de plantel</option>
                                <option>Subdirector</option>
                                <option>Administrativo</option>
                                <option>Personal de apoyo</option>
                                <option>Alumno</option>
                                <option>Padre de familia</option>
                                <option>Otra figura</option>


                            </select>
                        </div>


                        <div class="form-group" id="app">

                        </div>

                        <div class="form-group" id="app2" style="display: none;">
                            <input type="text" name="dependencia" id="temporal">

                        </div>

                        <!-- Agrega este código dentro de tu formulario, antes del botón de guardar -->
                        <div class="form-group" id="actaConstitutivaInput" style="display: none;">
                            <input type="file" name="archivo1" class="form-control">
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#confirmModal">
                                Guardar
                            </button>


                        </div>


                    </form>

                </div>
            </div>
        </div>

    </div>
</div>


<!-- Contenido del formulario existente ... -->
<!-- Ventana modal -->
<div id="confirmModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmar acción</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Desea mostrar el input file?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="showInputFile">Sí</button>
            </div>
        </div>
    </div>
</div>





<script>


    let seleccionar = document.getElementById('seleccionar');

    seleccionar.addEventListener('change', establecerClima);

    function establecerClima() {
        let eleccion = seleccionar.value;

        if (eleccion === 'Red de Apoyo') {

            document.getElementById('app2').style.display = 'block';

            if (document.getElementById('temporal')) {
                document.getElementById('temporal').remove();
            } else {

            }


            const div = document.createElement("select");
            div.className = "form-control";
            div.name = "dependencia";
            div.id = "myDependencia";
            div.innerHTML = "<option>CONAVIM</option><option>SIPINNA</option><option>Secretaría de Salud</option><option>Fiscalía</option><option>DIF</option><option>Instituciones de la mujer</option><option>Juventud</option><option>Derechos humanos</option><option>Organizaciones de la Sociedad Civil</option>"




            document.getElementById("app2").appendChild(div);



        } else if (eleccion === 'Integrantes') {
            if (document.getElementById('cargosUnidad')) {
                document.getElementById('cargosUnidad').remove();
            }

            if (document.getElementById('cargosIntegrantes')) {
                document.getElementById('cargosIntegrantes').remove();
            }



            if (document.getElementById('myDependencia')) {
                document.getElementById('myDependencia').remove();

                const div = document.createElement("input");
                div.type = "text";
                div.name = "dependencia";
                div.id = "temporal";


                document.getElementById("app2").appendChild(div);

                document.getElementById('app2').style.display = 'none';
            } else {
                console.log('no hay nada')
            }


            const div = document.createElement("select");
            div.className = "form-control";
            div.name = "cargo";
            div.id = "cargosIntegrantes";
            div.innerHTML = "<option>Director o responsable de plantel</option><option>Subdirector</option><option>Administrativo</option><option>Personal de apoyo</option><option>Alumno</option><option>Padre de familia</option><option>Otra figura</option>"




            document.getElementById("app").appendChild(div);
        } else if (eleccion === 'Unidad de Atención') {
            // document.getElementById('mostrarSign').style.display = 'none';
            if (document.getElementById('cargosUnidad')) {
                document.getElementById('cargosUnidad').remove();
            }

            if (document.getElementById('cargosIntegrantes')) {
                document.getElementById('cargosIntegrantes').remove();
            }



            if (document.getElementById('myDependencia')) {
                document.getElementById('myDependencia').remove();
                const div = document.createElement("input");
                div.type = "text";
                div.name = "dependencia";
                div.id = "temporal";


                document.getElementById("app2").appendChild(div);

                document.getElementById('app2').style.display = 'none';
            } else {
                console.log('no hay nada')
            }


            const div = document.createElement("select");
            div.className = "form-control";
            div.name = "cargo";
            div.id = "cargosUnidad";
            div.innerHTML = "<option>Director</option><option>Subdirector</option><option>Docentes</option><option>Personal Administrativo</option>"




            document.getElementById("app").appendChild(div);
        } else {
            // parrafo.textContent = '';
        }
    }



</script>

<script>
    $(document).ready(function () {
        // Evento clic del botón "Guardar"
        $('.btn-primary.btn-block').click(function (event) {
            event.preventDefault(); // Previene el envío del formulario

            // Muestra la ventana modal
            $('#confirmModal').modal('show');
        });

        // Evento clic del botón "Sí" de la ventana modal
        $('#showInputFile').click(function () {
            // Cierra la ventana modal
            $('#confirmModal').modal('hide');

            // Muestra el input file
            $('#actaConstitutivaInput').show();
        });

        // Evento clic del botón "No" de la ventana modal
        $('#confirmModal').on('hidden.bs.modal', function () {
            // Si la ventana modal se cierra sin hacer clic en "Sí",
            // envía el formulario
            $('#actaConstitutivaInput').hide();
            $('form').submit();
        });
    });
</script>