<!DOCTYPE html>
<html lang="en">

<>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>COPAZE</title>
  {{!-- GOOGLE FONTS --}}
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
  {{!-- STYLES GOB --}}
  <link href="https://framework-gb.cdn.gob.mx/assets/styles/main.css" rel="stylesheet">
  {{!-- FAVICON --}}
  <link href="/favicon.ico" rel="shortcut icon">
  {{!-- STYLES --}}
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  {{>navigation}}
  {{>message}} 
  {{{ body }}}

  {{!-- SCRIPTS --}}
    <script src="https://framework-gb.cdn.gob.mx/gobmx.js"></script>
</body>
</html>