<!DOCTYPE html>
<html lang="en">

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>COPAZE</title>
  {{!-- GOOGLE FONTS --}}
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  {{!-- FAVICON --}}
  <link href="/css/favicon.ico" rel="shortcut icon">
  {{!-- STYLES GOB --}}
  <link rel="stylesheet" href="/css/styles.css">
  
  
</head>

<body>
  {{>navigation}}
  {{>message}} 
  {{{ body }}}

  {{!-- SCRIPTS --}}
    <script src="/js/script.js"></script>
</body>
</html>